<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<title>
			Finalist Lab - <%= yield:title  %>
		</title><%= stylesheet_link_tag 'default.css' %>
	</head>
	<body>
	<%= render  :partial =>'/top' %>
		<div id="contents">
			<div class="anti-content">
				<!-- aLT mENU-->
				<!-- aLT mENU-->
				<!--Content-->
				<div id="stage">	
					<%= yield %>
				</div>
				<div id="c_fix"></div>
			</div>
		</div>
		<div class="boxSUB"></div>
		<%= yield:tagCloud %>
		<div id="footer">
			<%= bottom %>
			<%=render :partial => '/copyright' %>
		</div>
	</body>
</html>
